{% extends 'main/html/base.html' %}

{% block content %}
<div class="features">
    <h1>Биография</h1>


      <p style="   border: 9px solid gold; color: black; font-size: 30px; font-family: 'DejaVu Sans'; background:  white; width: 800px; height: 900px;    vertical-align: middle;
    margin-left: 650px;
    margin-top: 23px;
    margin-bottom: 60px;
    position: relative;">
          <strong>28.07.2003</strong> - Рождение<br>
          <strong>Сентябрь 2009</strong> - 1 класс школы<br>
          <strong>Май 2020</strong> - Выпуск из школы<br>
          <strong>Сентябрь 2020</strong> - Поступил в БГУИР<br>
          <strong>Февраль 2023</strong> - Разрабатывает этот сайт, уделяя бо&#x301;льшее внимание</p> </p>

</div>


<br>
<br>
<br>



{% endblock %}

{% block title %} Biography {% endblock %}