{% extends 'main/html/base.html' %}

{% block content %}


<div class="features">
    <h1>Хобби</h1>


      <p style="   border: 9px solid gold; color: black; font-size: 30px; font-family: 'DejaVu Sans'; background:  white; width: 1000px; height: 1000px;    vertical-align: center;
    margin-left: 600px;
    margin-top: 23px;
    padding: 20px;
    margin-bottom: 60px;
    text-align: left;
    position: relative;">
      Среди хобби можно выделить спорт (бодибилдинг), изучение английского языка, туризм, шахматы, программирование.   <br><br>

          <strong>Бодибилдинг</strong><br> Занятие спортом передалось мне от родителей, именно они привили мне любовь к спорту. <br>
          <strong>Шахматы</strong><br> С шахматами познакомился будучи в 8 классе, они очень понравились мне и я стал изучать их самостоятельно. Позже мой товарищ отправил меня в секцую по шахматам, а в апреле 2022г. я стал Чемпионом Поставского района по классическим шахматам.<br>
          <strong>Туризм</strong> <br> Путешествую не только по странам(Куба, Доминикана, Польша, Египет, Турция, Франция и тд.) но и по родной Беларуси. Часто хожу в походы.

         </p>

</div>


{% endblock %}

{% block title %} Hobbies {% endblock %}