{% extends 'main/html/base.html' %}

{% block content %}

<div class="features">

    <h1>Главная страница</h1>

    {% for el in news %}
        <div class = "alert alert-warning">
            <h2>{{ el.title }}</h2>
            <p>{{ el.content | linebreaks |  truncatewords:5  }}</p>


	        <p><img class="img-article-left thumb" src="{{el.photo.url}}"></p>


            <p class="date">{{ el.date }}</p>
            <p class ="link-read-post"> Читать </p>




        </div>
    {% endfor %}


</div>

{% endblock %}

{% block title %} Main page {% endblock %}