{% extends 'main/html/base.html' %}

{% block content %}
<div class="features">
    <h1>Навыки</h1>


      <p style="   border: 9px solid gold; color: black; font-size: 30px; font-family: 'DejaVu Sans'; background:  white; width: 1000px; height: 1000px;    vertical-align: center;
    margin-left: 600px;
    margin-top: 23px;
    margin-bottom: 60px;
    text-align: left;
    position: relative;">
          <strong>Инструменты в разработке</strong>: Python, C++, Java, SQL, HTML, CSS, JavaScript, Django, JavaFX, Git, GitHub.<br>
          <strong>Английский</strong>: B1.<br>
          <strong>Шахматы</strong>: 1 Разряд. (Чемпион Поставского района 2022 - ... )
         </p>

</div>
{% endblock %}

{% block title %} Skills {% endblock %}